/*
Creator: Kenneth Rosales
Date Created: April 9th 2019
Date Last Modified:
*/
body {
  background-color: white;
  font-family: arial, helvetica, sans-serif;
  color: black
  max-width: 900px;
  margin:0 auto;
}


header, footer {
  background-color: brown;
  color: #fef9ff;

}

h1{
  font-size: 2.5em;
}
caption {
            font-weight: bold;
            font-size: 1.2em;
            margin-bottom: 8px;
        }

table, th, td {
  border: 1px solid #0d1f2d;
  border-collapse: collapse;
padding: 5px 10px;
    }

table {
    width: 90%;
    margin: auto;
}

  tr {
            height: 30px;
        }

        th {
            background-color: #546a7b;
            color: #f2eded;
        }

        tbody tr:nth-child(odd) {
            background-color: #e4c3ad;
        }

        /* Creating article layouts */
        .clear-float {
            clear:both;
        }

        /article img {
            float:left;
        }

        .right-content {
            float:left;
        }

        article {
            margin-bottom: 16px;
        }

  nav a {
      background-color: ;
      color: #fef9ff;

  }

/*
  nav a:visited {
      color: #e4c3ad;
    }
    */
  nav a:hover {
              color: white;
  }

  nav a:active {
          font-weight: bold;
  }
